* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 1rem;
}

button,
#fileUploader {
  padding: 0;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 1.5rem;
  margin: 1rem 0rem;
}

.search {
  width: 33.33%;
}
.uploadFiles {
  width: 66.67%;
}

.options > * {
  display: flex;
  height: 1.5rem;
  margin: 0rem 0rem;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: row;
}

.search > *,
.uploadFiles > * {
  line-height: 0rem;
}

#contentHeader {
  border-bottom: 1px solid black;
}

.contentEntry,
#contentHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.itemHeader,
.item {
  width: 50%;
}

.sizeHeader,
.sizeInfo,
.downloadButtonContainer,
.notApplicable,
.downloadBox {
  width: 25%;
}

.downloadButtonContainer {
  display: flex;
  flex-direction: column;
}

.downloadButtonContainer > button {
  display: inline-block;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.notApplicable {
  display: flex;
  justify-content: center;
}

a,
p {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 24px;
  color: black;
}
