.search {
  display: flex;
  height: 3rem;
  margin: 1rem 0rem;
}

.search > * {
  line-height: 0rem;
}

.contentEntry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

a,
p {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 24px;
  color: black;
}
