* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search {
  display: flex;
  height: 3rem;
  margin: 1rem 0rem;
}

.search > * {
  line-height: 0rem;
}

.downloadButtonContainer {
  display: flex;
  flex-direction: column;
}

.contentEntry,
#contentHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#contentHeader > *,
.contentEntry > * {
  width: 33%;
}

.notApplicable {
  display: flex;
  justify-content: center;
}

a,
p {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 24px;
  color: black;
}
